#include <D2RLPlugin/resource.h>
#include <D2RLPlugin/version.h>

D2RL_PLUGIN_MANIFEST_RESOURCE_ID RCDATA { D2RL_PLUGIN_RESOURCE_DWORD(D2RL_PLUGIN_API_VERSION) }

1 VERSIONINFO
FILEVERSION 0,1,1,0
PRODUCTVERSION 0,1,1,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "RuffnecKk"
      VALUE "FileDescription", "Controls ethereal item chance and eligibility."
      VALUE "FileVersion", "0.1.1"
      VALUE "InternalName", "ruffneckk-ethereal-item-rules"
      VALUE "OriginalFilename", "d2rl-ruffneckk-ethereal-item-rules.dll"
      VALUE "ProductName", "Ethereal Item Rules"
      VALUE "ProductVersion", "0.1.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
