#include <D2RLPlugin/resource.h>
#include <D2RLPlugin/version.h>
#include "resource_ids.h"

D2RL_PLUGIN_MANIFEST_RESOURCE_ID RCDATA { D2RL_PLUGIN_RESOURCE_DWORD(D2RL_PLUGIN_API_VERSION) }
BULK_CURRENCY_DEPOSIT_BUTTON_MOLD_RESOURCE_ID RCDATA "../assets/button-mold.sprite"
BULK_CURRENCY_DEPOSIT_BUTTON_MOLD_LOWEND_RESOURCE_ID RCDATA "../assets/button-mold.lowend.sprite"
BULK_CURRENCY_DEPOSIT_BUTTON_RESOURCE_ID RCDATA "../assets/deposit-button.sprite"
BULK_CURRENCY_DEPOSIT_BUTTON_LOWEND_RESOURCE_ID RCDATA "../assets/deposit-button.lowend.sprite"

1 VERSIONINFO
FILEVERSION 1,1,1,0
PRODUCTVERSION 1,1,1,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "RuffnecKk"
      VALUE "FileDescription", "Auto transfers all your stackable currency items into their respective stash slots."
      VALUE "FileVersion", "1.1.1"
      VALUE "InternalName", "bulk-currency-deposit"
      VALUE "OriginalFilename", "d2rl-ruffneckk-bulk-currency-deposit.dll"
      VALUE "ProductName", "Bulk Currency Deposit"
      VALUE "ProductVersion", "1.1.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
