#include <D2RLPlugin/resource.h>
#include <D2RLPlugin/version.h>

D2RL_PLUGIN_MANIFEST_RESOURCE_ID RCDATA { D2RL_PLUGIN_RESOURCE_DWORD(D2RL_PLUGIN_API_VERSION) }

1 VERSIONINFO
FILEVERSION 1,2,2,0
PRODUCTVERSION 1,2,2,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "RuffnecKk"
      VALUE "FileDescription", "Controls durability loss, ethereal durability, and bow durability."
      VALUE "FileVersion", "1.2.2"
      VALUE "InternalName", "ruffneckk-item-durability"
      VALUE "OriginalFilename", "d2rl-ruffneckk-item-durability.dll"
      VALUE "ProductName", "Item Durability"
      VALUE "ProductVersion", "1.2.2"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
