#include <D2RLPlugin/resource.h>
#include <D2RLPlugin/version.h>

D2RL_PLUGIN_MANIFEST_RESOURCE_ID RCDATA { D2RL_PLUGIN_RESOURCE_DWORD(D2RL_PLUGIN_API_VERSION) }

1 VERSIONINFO
FILEVERSION 0,3,4,0
PRODUCTVERSION 0,3,4,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "RuffnecKk"
      VALUE "FileDescription", "Increases generated item affix counts as item levels rise."
      VALUE "FileVersion", "0.3.4"
      VALUE "InternalName", "ruffneckk-progressive-affixes"
      VALUE "OriginalFilename", "d2rl-ruffneckk-progressive-affixes.dll"
      VALUE "ProductName", "Progressive Affixes"
      VALUE "ProductVersion", "0.3.4"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
