#include <D2RLPlugin/resource.h>
#include <D2RLPlugin/version.h>

D2RL_PLUGIN_MANIFEST_RESOURCE_ID RCDATA { D2RL_PLUGIN_RESOURCE_DWORD(D2RL_PLUGIN_API_VERSION) }

1 VERSIONINFO
#if defined(RUFFNECKK_DAMAGE_CLEANUP_V1)
FILEVERSION 1,0,2,0
PRODUCTVERSION 1,0,2,0
#else
FILEVERSION 1,1,12,0
PRODUCTVERSION 1,1,12,0
#endif
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "RuffnecKk"
      VALUE "FileDescription", "Triggers item skills from spells, attack attempts, and combat outcomes."
#if defined(RUFFNECKK_DAMAGE_CLEANUP_V1)
      VALUE "FileVersion", "1.0.2"
#else
      VALUE "FileVersion", "1.1.12"
#endif
      VALUE "InternalName", "cast-triggers"
      VALUE "OriginalFilename", "d2rl-ruffneckk-cast-triggers.dll"
      VALUE "ProductName", "Cast Triggers"
#if defined(RUFFNECKK_DAMAGE_CLEANUP_V1)
      VALUE "ProductVersion", "1.0.2"
#else
      VALUE "ProductVersion", "1.1.12"
#endif
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
