#include <D2RLPlugin/resource.h>
#include <D2RLPlugin/version.h>

D2RL_PLUGIN_MANIFEST_RESOURCE_ID RCDATA { D2RL_PLUGIN_RESOURCE_DWORD(D2RL_PLUGIN_API_VERSION) }

1 VERSIONINFO
FILEVERSION 0,3,3,0
PRODUCTVERSION 0,3,3,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "RuffnecKk"
      VALUE "FileDescription", "Triggers the Horadric Cube transmute action from a configurable hotkey."
      VALUE "FileVersion", "0.3.3"
      VALUE "InternalName", "ruffneckk-transmute-hotkey"
      VALUE "OriginalFilename", "d2rl-ruffneckk-transmute-hotkey.dll"
      VALUE "ProductName", "Transmute Hotkey"
      VALUE "ProductVersion", "0.3.3"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
